modules = ["nodejs-20", "typescript-language-server", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Start Athena"

[[workflows.workflow]]
name = "Start Athena"
author = 42212850
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[workflows.workflow]]
name = "Start Web Dashboard"
author = 42212850
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[deployment]
run = ["sh", "-c", "node dist/main.js"]
deploymentTarget = "gce"
build = ["sh", "-c", "npm run build"]
